<div class="chart-wrapper">
  <div class="header-row">
    <h3>Distribución</h3>
  </div>
  
  <div class="content-body">
    <div class="chart-container">
      @if (assets.length > 0) {
        <div class="chart-center">
          <span class="label">Total</span>
          <span class="value">{{ totalValueVisible | currency:'USD':'symbol':'1.0-0' }}</span>
        </div>
        <canvas baseChart
          [data]="doughnutChartData"
          [type]="doughnutChartType"
          [options]="doughnutChartOptions">
        </canvas>
      } @else {
        <div class="empty-chart">
          <p>Sin activos</p>
        </div>
      }
    </div>

    <!-- Custom Legend -->
    @if (assets.length > 0) {
      <div class="legend-list">
        @for (item of customLegend; track item.label) {
          <div class="legend-item">
            <div class="label-box">
              <span class="dot" [style.background-color]="item.color"></span>
              <span class="name">{{ item.label }}</span>
            </div>
            <span class="percentage">{{ item.percentage }}</span>
          </div>
        }
      </div>
    }
  </div>
</div>
